@import '../config/color';

* {
    outline: none;
}

.datacell {
    padding: 7px 15px 7px 0px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.full-width {
    width: 100%;
    max-width: 100%;
}

.bg-veil {
    background-color: $color_bg_veil;
}