<div class="col-xs-12" style="height:30px;"></div>
<div id="mainview" class="col-xs-12 nopadding" ui-view></div>
<div class="col-xs-12" style="height:54px;"></div>
<div id="navtop" style="z-index:200;">
    <i style="float:left;margin-left:15px;" class="fa fa-angle-left fa-2x" ng-click="goBack();"></i>
    <i style="float:right;margin-right:15px;" class="fa fa-angle-right fa-2x" ng-click="goAhead();"></i>
    <!--<i class="fa fa-times fa-2x" ng-click="checkSth();" ng-dblclick="checkSth2();"></i>-->
    <div id="msg-content" ng-class="{'msg-show': showMsg}">
        <span id="status-hint" ng-class="{'msg-success': msgType == 1, 'msg-info': msgType == 2, 'msg-warn': msgType == 3, 'msg-error': msgType == 4}">
            <i class="fa" ng-class="{'fa-check-circle': msgType == 1, 'fa-info-circle': msgType == 2, 'fa-warning': msgType == 3, 'fa-times-circle': msgType == 4}"></i>
        </span>
        <div id="msg" ng-bind="msg" ng-class="{'wide-action-panel': confirmDialog}"></div>
        <span id="msg-clear">
            <i class="fa fa-check text-success" ng-click="confirmMsg()" ng-show="confirmDialog"></i>
            <i class="fa fa-times text-error" ng-click="cancelMsg()"></i>
        </span>
    </div>
</div>
<div id="navbottom" style="z-index:200;">
    <div class="navitem" ui-sref="fitu.activities({tag:null,vendorId:null,siteId:null})" ng-class="{selected: currentNav() =='activities'}">
        <div class="fa fa-group fa-lg"></div>
        <div ng-bind="lang.NAV_LABEL_ACTIVITY"></div>
    </div>
    <div class="navitem" ui-sref="fitu.sites({tag:null,vendorId:null,siteId:null})" ng-class="{selected: currentNav() =='gym'}">
        <div class="fa fa-paw fa-lg"></div>
        <div ng-bind="lang.NAV_LABEL_SITES"></div>
    </div>
    <div class="navitem" ui-sref="fitu.myself" ng-class="{selected: currentNav() =='myself'}">
        <div>
            <i class="fa fa-gear fa-lg" ng-hide="user && (pendingNotesCount.note + pendingNotesCount.sys)"></i>
            <i ng-show="user && (pendingNotesCount.note + pendingNotesCount.sys > 0)" class="fa fa-envelope text-error"></i>
            <span ng-bind="pendingNotesCount.note + pendingNotesCount.sys" ng-show="user && (pendingNotesCount.note + pendingNotesCount.sys)" class="text-error"></span>
        </div>
        <div ng-bind="lang.NAV_LABEL_ME"></div>
    </div>
</div>