<div class="col-xs-12" style="height:28px;"></div>
<div class="col-xs-12" id="msg-container">
    <div id="msg-content">
        <span id="status-hint" ng-class="{'msg-success': msgType == 1, 'msg-info': msgType == 2, 'msg-warn': msgType == 3, 'msg-error': msgType == 4}">
            <i class="fa" ng-class="{'fa-check-circle': msgType == 1, 'fa-info-circle': msgType == 2, 'fa-warning': msgType == 3, 'fa-times-circle': msgType == 4}"></i>
        </span>
        <div id="msg" ng-bind="msg"></div>
        <span id="msg-clear">
            <i class="fa fa-times clickable remove" ng-click="cancelMsg()"></i>
        </span>
    </div>
    <div id="msg-cover" ng-class="{'msg-show': showMsg}"></div>
</div>
<div id="mainview" class="col-xs-12 nopadding" ui-view></div>
<div class="col-xs-12" style="height:54px;"></div>
<div id="navtop" style="z-index:200;">
    <i style="float:left;margin-left:5px;" class="fa fa-angle-left fa-2x" ng-click="goBack();"></i>
    <i style="float:right;margin-right:5px;" class="fa fa-angle-right fa-2x" ng-click="goAhead();"></i>
    <!--<i class="fa fa-times fa-2x" ng-click="checkSth();" ng-dblclick="checkSth2();"></i>-->
</div>
<div id="navbottom" style="z-index:200;">
    <div class="navitem" ui-sref="fitu.activities({tag:null,vendorId:null,siteId:null})" ng-class="{selected: currentNav() =='activities'}">
        <div class="fa fa-group fa-lg"></div>
        <div ng-bind="lang.NAV_LABEL_ACTIVITY"></div>
    </div>
    <div class="navitem" ui-sref="fitu.gym.sites({tag:null,vendorId:null,siteId:null})" ng-class="{selected: currentNav() =='gym'}">
        <div class="fa fa-paw fa-lg"></div>
        <div ng-bind="lang.NAV_LABEL_SITEIDLES"></div>
    </div>
    <div class="navitem" ui-sref="fitu.myself" ng-class="{selected: currentNav() =='myself'}">
        <div class="fa fa-gear fa-lg"></div>
        <div ng-bind="lang.NAV_LABEL_ME"></div>
    </div>
</div>
<div class="loading-backdrop" ng-show="loading">
    <div class="loading-main">
        <img ng-src="{{const.siteInfo.staticBase + '/app/image/webclientshared/loading.gif'}}"></img>
    </div>
</div>