<div class="col-xs-12">
    <div class="paddingLR0px pull-left">
        <dropdown items="tags" label-name="'value'" selected-item="currentTag" change="switchTag()" style="width:100px;"></dropdown>
    </div>
    <div class="paddingLR0px pull-right" ng-click="link.goDiscovery()">
        <i class="fa fa-eye"></i>
        <span ng-bind="lang.SITE_DISCOVERY"></span>
    </div>
    <loading class="col-xs-12 paddingLR0px" show="loading" word="lang.GLOBAL_MSG_LOADING"></loading>
    <div class="col-xs-10 col-xs-offset-1 paddingLR0px paddingTB10px splitter" ng-repeat="site in visibles" ng-click="link.goSiteDetail(site.id)">
        <div class="col-xs-12 paddingLR0px text-bold text-lg text-center text-overflow-hidden" ng-bind="site.name"></div>
        <div class="col-xs-3 paddingLR0px">
            <img ng-src="{{site.picUrl | picUrl}}" style="width:100%;" />
        </div>
        <div class="col-xs-9 paddingLR0px small text-overflow-hidden" style="padding-left: 10px;">
            <div class="col-xs-12 paddingLR0px">
                <i class="fa fa-clock-o text-highlight"></i>
                <span ng-bind="site.open.startsOn | siteopen | datetime : const.timeAFormat"></span>
                <span> ~ </span>
                <span ng-bind="site.open.endsOn | siteopen | datetime : const.timeAFormat"></span>
            </div>
            <div class="col-xs-12 paddingLR0px" ng-if="site.prices.length > 0">
                <i class="fa fa-rmb text-highlight"></i>
                <span ng-bind="site.prices[0] | price"></span>
            </div>
            <div class="col-xs-12 paddingLR0px text-overflow-hidden">
                <i class="fa fa-home text-highlight"></i>
                <span ng-bind="site.tags | tags"></span>
            </div>
            <div class="col-xs-12 paddingLR0px">
                <i class="fa" ng-class="{'text-danger fa-heart': site.fansCount > 0, 'fa-heart-o': site.fansCount == 0}"></i>
                <span ng-bind="site.fansCount"></span>
            </div>
        </div>
    </div>
    <pagination total-pages="totalPages" current-page="currentPage" visible-count="visibleCount" class="col-xs-12 text-right paddingLR0px"></pagination>
</div>