<loading class="col-xs-12" show="loading" word="lang.GLOBAL_MSG_LOADING"></loading>
<div class="col-xs-12 text-bold" ng-show="!loading && !site" ng-bind="lang.SITEDETAIL_MSG_404"></div>
<div class="col-xs-12 paddingLR0px" ng-show="!loading && site">
    <div class="col-xs-12 paddingLR0px" style="position:relative;">
        <img class="full-width" ng-src="{{site.picUrl}}" />
        <div class="paddingTB5px" style="position:absolute;bottom:0px;right:0px;left:0px;background-color:black;color:white;opacity:0.6;">
            <div class="text-xl paddingLR10px paddingTB5px text-overflow-hidden" ng-bind="site.name"></div>
            <div class="paddingLR10px paddingTB5px text-overflow-hidden">
                <span ng-bind="lang.SITEDETAIL_LABEL_OPENTIME"></span>
                <span ng-bind="site.open.startsOn | siteopen | datetime : const.timeAFormat"></span>
                <span> ~ </span>
                <span ng-bind="site.open.endsOn | siteopen | datetime : const.timeAFormat"></span>
            </div>
        </div>
    </div>
    <div class="empty-xs"></div>
    <div class="col-xs-12">
        <div class="col-xs-12 paddingLR0px text-bold" ng-bind="lang.SITEDETAIL_LABEL_ADDR"></div>
        <div class="col-xs-12 paddingLR0px">
            <span ng-click="link.goSiteLocation(site.id)">
                <i class="fa fa-map-marker text-highlight"></i>
                <span ng-bind="site.location.address"></span>
            </span>
        </div>
        <div class="col-xs-12 paddingLR0px text-bold" ng-bind="lang.SITEDETAIL_LABEL_CONTACT"></div>
        <div class="col-xs-12 paddingLR0px">
            <i class="fa fa-phone text-highlight"></i>
            <span ng-bind="site.contact || lang.SITEDETAIL_LABEL_CONTACT_UNKNOWN"></span>
        </div>
        <div class="col-xs-12 paddingLR0px text-bold" ng-bind="lang.ACTDETAIL_LABEL_TRANS" ng-show="site.trans.subway || site.trans.bus"></div>
        <div class="col-xs-12 paddingLR0px" ng-show="site.trans.subway">
            <i class="fa fa-subway text-highlight"></i>
            <span ng-bind="site.trans.subway"></span>
        </div>
        <div class="col-xs-12 paddingLR0px" ng-show="site.trans.bus">
            <i class="fa fa-bus text-highlight"></i>
            <span ng-bind="site.trans.bus"></span>
        </div>
        <div class="col-xs-12 paddingLR0px text-bold" ng-bind="lang.SITEDETAIL_LABEL_PRICES" ng-show="site.prices.length > 0"></div>
        <div class="col-xs-12 paddingLR0px" ng-repeat="p in site.prices">
            <i class="fa fa-rmb text-highlight"></i>
            <span ng-bind="p | price"></span>
        </div>
        <div class="col-xs-12 paddingLR0px text-bold" ng-bind="lang.SITEDETAIL_LABEL_INTRO" ng-show="site.intro"></div>
        <div class="col-xs-12 paddingLR0px" ng-show="site.intro">
            <pre ng-bind="site.intro" class="intro-pre"></pre>
        </div>
        <div class="col-xs-12 paddingLR0px text-bold" ng-bind="lang.SITEDETAIL_LABEL_VENDOR" ng-show="site.vendor"></div>
        <div class="col-xs-12 paddingLR0px" ng-show="site.vendor">
            <div class="col-xs-1 paddingLR0px" ng-click="link.goVendorDetail(site.vendor.id)">
                <img ng-src="{{site.vendor.logoUrl}}" class="full-width" />
            </div>
            <div class="col-xs-11 paddingLR0px paddingL10px">
                <span ng-click="link.goVendorDetail(site.vendor.id)" ng-bind="site.vendor.name"></span>
            </div>
        </div>
        <div class="col-xs-12 paddingLR0px" ng-show="user">
            <i class="fa fa-bug text-highlight"></i>
            <span ng-bind="lang.SITEDETAIL_MSG_EDIT" ng-click="link.goDiscovery({siteId: site.id})"></span>
        </div>
        <div class="col-xs-12 paddingLR0px">
            <span class="text-bold" ng-bind="lang.SITEDETAIL_LABEL_FANSCOUNT"></span>
            <i class="fa" ng-class="{'text-danger fa-heart': site.fansCount > 0, 'fa-heart-o': site.fansCount == 0}"></i>
            <span ng-bind="site.fansCount"></span>
        </div>
        <loading class="col-xs-12 paddingLR0px" show="loadingFanRel" word="lang.GLOBAL_MSG_LOADING"></loading>
        <div class="col-xs-12 paddingLR0px" ng-show="!loadingFanRel && user">
            <div class="col-xs-12 paddingLR0px" ng-show="fanRelationship.subscribe">
                <span ng-bind="lang.SITEDETAIL_LABEL_FAN"></span>
                <button class="btn btn-danger btn-xs" ng-click="noFan()" ng-disabled="nofanning">
                    <i class="fa fa-spinner fa-spin" ng-show="nofanning"></i>
                    <span ng-bind="lang.SITEDETAIL_BTN_NOFANNING" ng-show="nofanning"></span>
                    <span ng-bind="lang.SITEDETAIL_BTN_NOFAN" ng-show="!nofanning"></span>
                </button>
            </div>
            <div class="col-xs-12 paddingLR0px" ng-show="!fanRelationship.subscribe">
                <span ng-bind="lang.SITEDETAIL_LABEL_NOFAN"></span>
                <button class="btn btn-success btn-xs" ng-click="fan()" ng-disabled="fanning">
                    <i class="fa fa-spinner fa-spin" ng-show="fanning"></i>
                    <span ng-bind="lang.SITEDETAIL_BTN_FANNING" ng-show="fanning"></span>
                    <span ng-bind="lang.SITEDETAIL_BTN_FAN" ng-show="!fanning"></span>
                </button>
            </div>
        </div>
        <div class="col-xs-12 paddingLR0px text-sm" ng-bind="lang.SITEDETAIL_MSG_WHYFAN_LOGIN" ng-show="user"></div>
        <div class="col-xs-12 paddingLR0px text-sm" ng-bind="lang.SITEDETAIL_MSG_WHYFAN_NOLOGIN" ng-show="!user"></div>
        <div class="empty-xs"></div>
        <div class="col-xs-12 paddingLR0px text-bold">
            <span ng-click="link.goMatrix({siteId: site.id})" class="text-success">
                <span ng-bind="lang.SITEDETAIL_LABEL_MATRIX"></span>
                <i class="fa fa-chevron-right"></i>
                <i class="fa fa-chevron-right"></i>
                <i class="fa fa-chevron-right"></i>
            </span>
        </div>
        <div class="empty-xs"></div>
        <div class="col-xs-12 padding10px" style="border-radius:5px;background-color:white;" ng-show="loadingMsg || totalMsgPages > 0">
            <div class="col-xs-12 paddingLR0px text-bold marginB5px">
                <div class="f-left">
                    <i class="fa fa-edit"></i>
                    <span ng-bind="lang.SITEDETAIL_LABEL_MSGBOARD"></span>
                </div>
                <div class="f-right">
                    <i class="fa fa-refresh text-highlight" ng-click="refreshMsgs()" ng-class="{'fa-spin': refreshingMsgs}"></i>
                </div>
            </div>
            <loading class="col-xs-12 paddingLR0px" show="loadingMsg" word="lang.GLOBAL_MSG_LOADING"></loading>
            <div class="col-xs-12 paddingLR0px" ng-repeat="msg in msgVisibles" ng-show="!loadingMsg">
                <pre ng-bind="msg.words" class="marginB0px"></pre>
                <div class="text-right text-sm marginB10px">
                    <span ng-show="msg.replyToUser" ng-bind="lang.SITEDETAIL_LABEL_REPLYTO"></span>
                    <span ng-show="msg.replyToUser" ng-bind="msg.replyToUser.personal.nickName || lang.GLOBAL_LABEL_ANONY"></span>
                    <span>by </span>
                    <span ng-bind="msg.author.personal.nickName || lang.GLOBAL_LABEL_ANONY" ng-click="link.goUserPreview(msg.author.id)"></span>
                    <span ng-bind="msg.createdOn | sensitiveDatetime"></span>
                    <i class="fa fa-reply text-highlight" ng-click="replyToClick(msg)"></i>
                    <i class="fa" ng-class="{'fa-heart text-danger': msg.like.me, 'fa-heart-o': !msg.like.me}" ng-click="likeMessage(msg)"></i>
                    <span class="text-sm" style="margin-left: -3px;" ng-bind="msg.like.count"></span>
                </div>
            </div>
            <pagination total-pages="totalMsgPages" current-page="currentMsgPage" visible-count="visibleMsgCount" class="col-xs-12 text-right paddingLR0px"></pagination>
        </div>
        <div class="col-xs-12 paddingLR0px" ng-show="!loadingMsg && totalMsgPages == 0" ng-bind="lang.SITEDETAIL_MSG_NOMSG"></div>
        <div class="empty-xs"></div>
        <div class="col-xs-12 paddingLR0px">
            <div class="col-xs-12 paddingLR0px text-bold">
                <span ng-bind="lang.SITEDETAIL_LABEL_SENDMSG"></span>
                <i class="fa fa-comment-o"></i>
            </div>
            <div class="col-xs-12 paddingLR0px text-sm" ng-init="replyToClick(null)" ng-show="replyToMsg">
                <i class="fa fa-times text-danger" ng-click="replyToMsg = null"></i>
                <span ng-bind="lang.SITEDETAIL_LABEL_REPLYTO"></span>
                <span ng-bind="replyToMsg.author.personal.nickName || lang.GLOBAL_LABEL_ANONY"></span>
            </div>
            <div class="col-xs-12 paddingLR0px">
                <textarea class="form-control full-width" ng-model="msgModel.msgProp.val" ng-disabled="sendingMsg"></textarea>
            </div>
            <div class="col-xs-12 paddingLR0px marginT5px text-right">
                <span ng-show="!user" ng-bind="lang.SITEDETAIL_MSG_SENDMSGAFTERLOGIN"></span>
                <button class="btn btn-warning btn-xs" ng-show="user" ng-click="sendNewSiteMessage()" ng-disabled="sendingMsg || !msgModel.validate()">
                    <i class="fa fa-spinner fa-spin" ng-show="sendingMsg"></i>
                    <span ng-bind="lang.SITEDETAIL_BTN_SENDINGMSG" ng-show="sendingMsg"></span>
                    <span ng-bind="lang.SITEDETAIL_BTN_SENDMSG" ng-show="!sendingMsg"></span>
                </button>
                <button class="btn btn-danger btn-xs marginL10px" ng-show="user" ng-click="resetMsgModel()" ng-bind="lang.SITEDETAIL_BTN_RESETMSG" ng-disabled="sendingMsg"></button>
            </div>
        </div>
    </div>
    <div class="empty-sm"></div>
</div>