<div style="position:relative;" class="col-xs-12 nopadding" ng-init="loginMode = true" ng-show="loginMode">
    <span class="flatbtn" style="position:absolute;top:15px;right:15px;" ng-click="loginMode = false">
        <i class="fa fa-plus"></i>
        <span ng-bind="lang.LOGIN_LABEL_REGISTER"></span>
    </span>
    <div class="empty-md"></div>
    <form class="form-horizontal col-xs-12" role="form">
        <div class="form-group">
            <label for="login_email" class="col-xs-3 control-label text-right" ng-bind="lang.LOGIN_LABEL_EMAIL"></label>
            <div class="col-xs-8">
                <input type="text" class="form-control" id="login_email" ng-model="loginModel.emailProp.val" />
            </div>
        </div>
        <div class="form-group">
            <label for="login_pwd" class="col-xs-3 control-label text-right" ng-bind="lang.LOGIN_LABEL_PASSWORD"></label>
            <div class="col-xs-8">
                <input type="password" class="form-control" id="login_pwd" ng-model="loginModel.pwdProp.val" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-8">
                <button ng-class="{disabled: !loginModel.validate() || logining || loadingUser || registering}" type="submit" class="btn btn-default" ng-click="login()">
                    <i class="fa fa-spinner fa-spin" ng-show="logining || loadingUser || registering"></i>
                    <span ng-bind="lang.LOGIN_BTN_LOGIN" ng-show="!logining && !loadingUser && !registering"></span>
                    <span ng-bind="lang.LOGIN_BTN_LOGINING" ng-show="logining"></span>
                    <span ng-bind="lang.LOGIN_BTN_LOADING" ng-show="loadingUser"></span>
                    <span ng-bind="lang.LOGIN_BTN_REGISTERING" ng-show="registering"></span>
                </button>
                <button class="btn btn-success" ng-click="loginByWechat()" ng-bind="lang.LOGIN_BTN_LOGINBYWECHAT"></button>
                <span class="flatbtn text-sm marginL10px text-underline" ng-class="{disabled: !loginModel.emailProp.validate() || resetingPwd}" ng-click="resetPwd()">
                    <span ng-bind="lang.LOGIN_BTN_RESETPWD" ng-show="!resetingPwd"></span>
                    <span ng-bind="lang.LOGIN_BTN_RESETINGPWD" ng-show="resetingPwd"></span>
                </span>
            </div>
        </div>
    </form>
</div>
<div style="position:relative;" class="col-xs-12 nopadding" ng-show="!loginMode">
    <span class="flatbtn" style="position:absolute;top:15px;right:15px;" ng-click="loginMode = true">
        <i class="fa fa-sign-in"></i>
        <span ng-bind="lang.REGISTER_LABEL_LOGIN"></span>
    </span>
    <div class="empty-sm"></div>
    <form class="form-horizontal col-xs-12" role="form">
        <div class="form-group">
            <label for="register_email" class="col-xs-4 control-label text-right" ng-bind="lang.REGISTER_LABEL_EMAIL"></label>
            <div class="col-xs-7" ng-class="{'has-error': !registerModel.emailProp.validate(true)}" style="position:relative;">
                <input type="text" class="form-control" id="register_email" ng-model="registerModel.emailProp.val" focus-out="checkEmailAvailability()" />
                <i class="fa" ng-class="{'fa-check text-success': emailAvailable == 0, 'fa-times text-error': emailAvailable == 1}" style="position:absolute;right:0px;top:50%;margin-top:-7px;"></i>
            </div>
        </div>
        <div class="form-group">
            <label for="register_password" class="col-xs-4 control-label text-right" ng-bind="lang.REGISTER_LABEL_PASSWORD"></label>
            <div class="col-xs-7" ng-class="{'has-error': !registerModel.pwdProp.validate(true)}">
                <input type="password" class="form-control" id="register_password" ng-model="registerModel.pwdProp.val" />
            </div>
        </div>
        <div class="form-group">
            <label for="register_password2" class="col-xs-4 control-label text-right" ng-bind="lang.REGISTER_LABEL_PWDCONFIRM"></label>
            <div class="col-xs-7" ng-class="{'has-error': !registerModel.pwdConfirmProp.validate(true)}">
                <input type="password" class="form-control" id="register_password2" ng-model="registerModel.pwdConfirmProp.val" />
            </div>
        </div>
        <div class="form-group">
            <label for="register_nickname" class="col-xs-4 control-label text-right" ng-bind="lang.REGISTER_LABEL_NICKNAME"></label>
            <div class="col-xs-7" ng-class="{'has-error': !registerModel.nickNameProp.validate(true)}" style="position:relative;">
                <input type="text" class="form-control" id="register_nickname" ng-model="registerModel.nickNameProp.val" focus-out="checkNickNameAvailability()" />
                <i class="fa" ng-class="{'fa-check text-success': nickNameAvailable == 0, 'fa-times text-error': nickNameAvailable == 1}" style="position:absolute;right:0px;top:50%;margin-top:-7px;"></i>
            </div>
        </div>
        <div class="form-group">
            <label for="register_phone" class="col-xs-4 control-label text-right" ng-bind="lang.REGISTER_LABEL_PHONE"></label>
            <div class="col-xs-7" ng-class="{'has-error': !registerModel.phoneProp.validate(true)}">
                <input type="text" class="form-control" id="register_phone" ng-model="registerModel.phoneProp.val" />
            </div>
        </div>
        <div class="form-group">
            <label for="register_contact" class="col-xs-4 control-label text-right" ng-bind="lang.REGISTER_LABEL_CONTACT"></label>
            <div class="col-xs-7" ng-class="{'has-error': !registerModel.contactProp.validate(true)}">
                <input type="text" class="form-control" id="register_contact" ng-model="registerModel.contactProp.val" />
            </div>
        </div>
        <div class="form-group">
            <label for="register_gender" class="col-xs-4 control-label text-right" ng-bind="lang.REGISTER_LABEL_GENDER"></label>
            <div class="col-xs-7">
                <select class="form-control" id="register_gender" ng-model="registerModel.genderProp.val" ng-options="k as v | gender for (k, v) in const.gender"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-4 col-xs-7">
                <button ng-class="{disabled: !registerModel.validate() || logining || loadingUser || registering}" type="submit" class="btn btn-default" ng-click="register()">
                    <i class="fa fa-spinner fa-spin" ng-show="logining || loadingUser || registering"></i>
                    <span ng-bind="lang.REGISTER_BTN_REGISTER" ng-show="!logining && !loadingUser && !registering"></span>
                    <span ng-bind="lang.LOGIN_BTN_LOGINING" ng-show="logining"></span>
                    <span ng-bind="lang.LOGIN_BTN_LOADING" ng-show="loadingUser"></span>
                    <span ng-bind="lang.LOGIN_BTN_REGISTERING" ng-show="registering"></span>
                </button>
            </div>
        </div>
    </form>
</div>