@import 'variables';

$size_padding_LR: 5px;
$size_padding_TB: 2px;
$size_border: 1px;

._dropdown_container {
    position: relative;

    ._dropdown_selector {
        background-color: white;
        position: relative;
        border: $size_border solid $color_normaldark;
        padding: $size_padding_TB $size_padding_LR;

        ._dropdown_selected {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 100%;
            vertical-align: bottom;
        }

        ._dropdown_angle {
            position: absolute;
            right: $size_padding_LR;
            top: $size_padding_TB;
            background-color: white;
            display: inline-block;
            vertical-align: bottom;
        }
    }

    ._dropdown_list {
        position: absolute;
        z-index: 100;
        background-color: white;
        display: none;
        width: 100%;
        padding: $size_padding_TB 0px;

        &._dropdown_expand {
            display: block;
        }

        &._dropdown_up {
            bottom: 20px + 2*($size_border+$size_padding_TB);
        }

        ._dropdown_item {
            padding: $size_padding_TB $size_padding_LR;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover {
                background-color: $color_hover;
            }
        }
    }
}
