$color_success: lightgreen;
$color_warning: yellow;
$color_error: red;

.message {
	margin: 10px;
	padding: 10px;
	border-radius: 6px;
	
	&.success {
		background-color: $color_success;
	}
	&.warning {
		background-color: $color_warning;
	}
	&.error {
		background-color: $color_error;
	}
	
	.fa-times {
		margin: 0px 5px;
	}
}