
.empty-base {
    float: left;
    width: 100%;
    display: block;
}

.empty-lg {
    height: 150px;
    @extend .empty-base;
}

.empty-md {
    height: 100px;
    @extend .empty-base;
}

.empty-sm {
    height: 50px;
    @extend .empty-base;
}

.empty-xs {
    height: 25px;
    @extend .empty-base;
}

.nopadding {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.padding10px {
    padding: 10px;
}

.paddingLR0px {
    padding-left: 0px;
    padding-right: 0px;
}

.padding5px {
    padding: 5px;
}

.paddingTB10px {
    padding-top: 10px;
    padding-bottom: 10px;
}

.marginLR15px {
    margin-left: 15px;
    margin-right: 15px;
}

.marginT5px {
    margin-top: 5px;
}

.paddingR5px {
    padding-right: 5px;
}

.paddingTB5px {
    padding-top: 5px;
    padding-bottom: 5px;
}
