$color_border: #F2F2F2;

.borderbottom-bold {
    border-bottom: 2px solid $color_border;
}

.borderbottom {
    border-bottom: 1px solid $color_border;
}

.borderleft-bold {
    border-left: 2px solid $color_border;
}

.borderleft {
    border-left: 1px solid $color_border;
}

.borderright-bold {
    border-right: 2px solid $color_border;
}

.borderright {
    border-right: 1px solid $color_border;
}

.border-bold {
    border: 2px solid $color_border;
}

.border {
    border: 1px solid $color_border;
}
