<div class="col-xs-12">
    <select ng-options="tag.key as tag.value for tag in const.tags" ng-model="tag" ng-change="switchTag()">
        <option value="">所有类型</option>
    </select>
    <select>
        <option>所有地点</option>
        <option>徐汇</option>
        <option>杨浦</option>
        <option>浦东</option>
        <option>闵行</option>
    </select>
    <select>
        <option>时间最近</option>
        <option>价格最低</option>
        <option>位置最近</option>
        <option>余量最多</option>
    </select>
    <loading class="col-xs-12 paddingLR0px" show="loading" word="lang.GLOBAL_MSG_LOADING"></loading>
    <div class="col-xs-12 paddingLR0px paddingTB10px splitter" ng-repeat="act in visibles" ng-click="goDetail(act.id)">
        <div class="col-xs-12 paddingLR0px fontbold fontbig text-center textoverflowhidden" ng-bind="act.name"></div>
        <div class="col-xs-3 paddingLR0px">
            <img ng-src="{{act.picUrl}}" style="width:100%;" />
        </div>
        <div class="col-xs-9 paddingLR0px small textoverflowhidden" style="padding-left: 10px;">
            <div class="col-xs-12 paddingLR0px">
                <i class="fa fa-clock-o"></i>
                <span ng-bind="act.startsOn | datetime : const.actTimeFormat"></span>
                <span> ~ </span>
                <span ng-bind="act.endsOn | datetime : const.actTimeFormat"></span>
            </div>
            <div class="col-xs-12 paddingLR0px">
                <i class="fa fa-map-marker"></i>
                <span ng-bind="act.site.location.address"></span>
            </div>
            <div class="col-xs-12 paddingLR0px">
                <div class="col-xs-4 paddingLR0px">
                    <i class="fa fa-rmb"></i>
                    <span ng-bind="act.price"></span>
                </div>
                <div class="col-xs-4 paddingLR0px">
                    <i class="fa fa-user blue" ng-show="act.memberCount <= act.capacity * 0.8"></i>
                    <i class="fa fa-users red" ng-show="act.memberCount > act.capacity * 0.8"></i>
                    <span ng-bind="act.memberCount"></span>
                    <span> / </span>
                    <span ng-bind="act.capacity"></span>
                </div>
                <div class="col-xs-4 paddingLR0px">
                    <i class="fa fa-comments-o"></i>
                    <span ng-bind="act.msgCount"></span>
                </div>
            </div>
            <div class="col-xs-12 paddingLR0px">
                <i class="fa fa-home"></i>
                <span ng-bind="act.tags[0] | tag"></span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 text-right paddingLR0px" ng-show="getPageNavs().max > 0">
        <ul class="pagination">
            <li ng-class="{disabled: currentPage == 0}" ng-click="currentPage <= 0 || switchPage(0)"><span class="fa fa-angle-double-left"></span></li>
            <li ng-class="{disabled: currentPage == 0}" ng-click="currentPage <= 0 || switchPage(currentPage - 1)"><span class="fa fa-angle-left"></span></li>
            <li ng-repeat="pg in getPageNavs().nav" ng-class="{active: currentPage == pg}" ng-click="pg == currentPage || switchPage(pg)"><span ng-bind="pg + 1"></span></li>
            <li ng-class="{disabled: currentPage == getPageNavs().max}" ng-click="currentPage >= getPageNavs().max || switchPage(currentPage + 1)"><span class="fa fa-angle-right"></span></li>
            <li ng-class="{disabled: currentPage == getPageNavs().max}" ng-click="currentPage >= getPageNavs().max || switchPage(getPageNavs().max)"><span class="fa fa-angle-double-right"></span></li>
        </ul>
    </div>
</div>
<div ui-view></div>