<div class="col-xs-12">
    <div class="col-xs-12 paddingLR0px">
        <dropdown items="tags" label-name="'value'" selected-item="currentTag" change="switchTag()" style="width:100px;display:inline-block;"></dropdown>
        <dropdown items="statusFilters" label-name="'present'" selected-item="currentStatusFilter" change="switchStatus()" style="width:100px;display:inline-block;margin-left:10px;"></dropdown>
    </div>
    <loading class="col-xs-12 paddingLR0px" show="loading" word="lang.GLOBAL_MSG_LOADING"></loading>
    <div class="col-xs-12 text-bold paddingLR0px" ng-bind="lang.ACTIVITIES_MSG_NOACT" ng-show="!loading && getPageNavs().total == 0"></div>
    <actpreview ng-repeat="act in visibles" act="act" ng-click="link.goActDetail(act.id)"></actpreview>
    <div class="col-xs-12 text-right paddingLR0px" ng-show="getPageNavs().max > 0">
        <ul class="pagination">
            <li ng-class="{disabled: currentPage == 0}" ng-click="currentPage <= 0 || switchPage(0)"><span class="fa fa-angle-double-left"></span></li>
            <li ng-class="{disabled: currentPage == 0}" ng-click="currentPage <= 0 || switchPage(currentPage - 1)"><span class="fa fa-angle-left"></span></li>
            <li ng-repeat="pg in getPageNavs().nav" ng-class="{active: currentPage == pg}" ng-click="pg == currentPage || switchPage(pg)"><span ng-bind="pg + 1"></span></li>
            <li ng-class="{disabled: currentPage == getPageNavs().max}" ng-click="currentPage >= getPageNavs().max || switchPage(currentPage + 1)"><span class="fa fa-angle-right"></span></li>
            <li ng-class="{disabled: currentPage == getPageNavs().max}" ng-click="currentPage >= getPageNavs().max || switchPage(getPageNavs().max)"><span class="fa fa-angle-double-right"></span></li>
        </ul>
    </div>
</div>
<div ui-view></div>