<loading class="col-xs-12" show="loading" word="lang.GLOBAL_MSG_LOADING"></loading>
<div class="col-xs-12 text-bold" ng-show="!loading && !userpublic" ng-bind="lang.USERPREVIEW_MSG_404"></div>
<div class="col-xs-12" ng-show="!loading && userpublic">
    <h4 class="col-xs-12 paddingLR0px text-bold" ng-bind="userpublic.personal.nickName || lang.GLOBAL_LABEL_ANONY"></h4>
    <div class="paddingLR0px paddingTB5px col-xs-12">
        <div class="col-xs-3 paddingLR0px">
            <img class="full-width" ng-src="{{userpublic.headUrl | picUrl}}" />
        </div>
        <div class="col-xs-9 paddingLR0px paddingL10px">
            <div class="col-xs-12 paddingLR0px">
                <span class="text-bold" ng-bind="userpublic.personal.nickName || lang.GLOBAL_LABEL_ANONY"></span>
                <gender-hint gender="userpublic.personal.gender" class="marginL5px"></gender-hint>
                <i class="fa marginL5px fa-shield medal granted" ng-show="userpublic.mobileV"></i>
            </div>
            <div class="col-xs-12 paddingLR0px" ng-bind="userpublic.personal.contact"></div>
            <div class="col-xs-12 paddingLR0px">
                <i class="fa" ng-class="{'text-danger fa-heart': userpublic.fansCount > 0, 'fa-heart-o': userpublic.fansCount == 0}"></i>
                <span ng-bind="userpublic.fansCount"></span>
            </div>
            <div class="col-xs-12 paddingLR0px">
                <i class="fa fa-envelope-o text-highlight" ng-click="link.goSendNote({recipientId: userpublic.id})"></i>
            </div>
        </div>
    </div>
    <loading class="col-xs-12" show="loadingFanRel && user" word="lang.GLOBAL_MSG_LOADING"></loading>
    <div class="col-xs-12 paddingLR0px" ng-show="!loadingFanRel && user">
        <div class="col-xs-12 paddingLR0px" ng-show="!selfView && fanRelationship.subscribe">
            <span ng-bind="lang.USERPREVIEW_LABEL_FAN"></span>
            <button class="btn btn-danger btn-xs" ng-click="noFan()" ng-disabled="nofanning">
                <i class="fa fa-spinner fa-spin" ng-show="nofanning"></i>
                <span ng-bind="lang.USERPREVIEW_BTN_NOFANNING" ng-show="nofanning"></span>
                <span ng-bind="lang.USERPREVIEW_BTN_NOFAN" ng-show="!nofanning"></span>
            </button>
        </div>
        <div class="col-xs-12 paddingLR0px" ng-show="!selfView && !fanRelationship.subscribe">
            <span ng-bind="lang.USERPREVIEW_LABEL_NOFAN"></span>
            <button class="btn btn-success btn-xs" ng-click="fan()" ng-disabled="fanning">
                <i class="fa fa-spinner fa-spin" ng-show="fanning"></i>
                <span ng-bind="lang.USERPREVIEW_BTN_FANNING" ng-show="fanning"></span>
                <span ng-bind="lang.USERPREVIEW_BTN_FAN" ng-show="!fanning"></span>
            </button>
        </div>
        <div class="col-xs-12 paddingLR0px text-sm text-bold" ng-bind="lang.USERPREVIEW_MSG_SUBSCRIBED" ng-show="!selfView && fanRelationship.subscribed"></div>
    </div>
    <div class="empty-xs"></div>
    <div class="col-xs-12 paddingLR0px text-sm" ng-bind="lang.USERPREVIEW_MSG_WHYFAN_LOGIN" ng-show="user && !selfView"></div>
    <div class="col-xs-12 paddingLR0px text-sm" ng-bind="lang.USERPREVIEW_MSG_WHYFAN_NOLOGIN" ng-show="!user"></div>
</div>