<div class="col-xs-12">
    <loading class="col-xs-12 paddingLR0px" show="loadingAct" word="lang.ACTLEAD_MSG_LOADINGACT"></loading>
    <div class="col-xs-12 paddingLR0px text-bold" ng-show="!loadingAct && activity.createdBy != user.id" ng-bind="lang.ACTLEAD_MSG_NOAUTH"></div>
    <h4 class="col-xs-12 paddingLR0px text-bold" ng-show="!loadingAct && activity && activity.createdBy == user.id">
        <span ng-bind="activity.name"></span>
        <span>, </span>
        <span ng-bind="activity.startsOn | date"></span>
        <i ng-show="!util.actCancel(activity)" class="fa fa-edit text-highlight" ng-click="link.goMatrix({actId: activity.id})"></i>
        <i ng-show="util.actActive(activity)" class="fa fa-times text-danger" ng-click="cancelAct(activity)"></i>
        <span ng-show="!util.actActive(activity)" ng-bind="util.actNonActiveStatus(activity)" class="text-danger"></span>
    </h4>
    <div class="paddingLR0px col-xs-12" ng-show="activity">
        <span class="f-left text-highlight" ng-click="link.goSendNote({actId: activity.id})" ng-show="activity.memberCount > 0">
            <i class="fa fa-envelope-o"></i>
            <span ng-bind="lang.SENDNOTE_LABEL_SENDNOTEALL"></span>
        </span>
        <span class="fa f-right text-highlight" ng-class="{'fa-angle-down': !expandCensus, 'fa-angle-up': expandCensus}" ng-click="expandCensus = !expandCensus"></span>
    </div>
    <div style="display:none;" class="paddingLR0px col-xs-12" ng-class="{_slide_down: expandCensus}">
        <loading class="col-xs-12 paddingLR0px" show="loadingCensus" word="lang.ACTLEAD_MSG_LOADINGCENSUS"></loading>
        <table class="table" ng-show="census && !loadingCensus">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <span ng-bind="lang.ACTLEAD_LABEL_CENSUS_MALE"></span>
                        <i class="fa fa-male text-highlight"></i>
                    </th>
                    <th>
                        <span ng-bind="lang.ACTLEAD_LABEL_CENSUS_FEMALE"></span>
                        <i class="fa fa-female text-danger"></i>
                    </th>
                    <th>
                        <span ng-bind="lang.ACTLEAD_LABEL_CENSUS_UNKNOWN"></span>
                        <i class="fa fa-question text-warn"></i>
                    </th>
                    <th ng-bind="lang.ACTLEAD_LABEL_CENSUS_TOTAL"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td ng-bind="lang.ACTLEAD_LABEL_CENSUS_CONFIRMED"></td>
                    <td ng-bind="census.confirmed.male"></td>
                    <td ng-bind="census.confirmed.female"></td>
                    <td ng-bind="census.confirmed.unknown"></td>
                    <td ng-bind="census.confirmed.male + census.confirmed.female + census.confirmed.unknown"></td>
                </tr>
                <tr class="warning">
                    <td ng-bind="lang.ACTLEAD_LABEL_CENSUS_PENDING"></td>
                    <td ng-bind="census.pending.male"></td>
                    <td ng-bind="census.pending.female"></td>
                    <td ng-bind="census.pending.unknown"></td>
                    <td ng-bind="census.pending.male + census.pending.female + census.pending.unknown"></td>
                </tr>
                <tr class="danger">
                    <td ng-bind="lang.ACTLEAD_LABEL_CENSUS_QUIT"></td>
                    <td ng-bind="census.quit.male"></td>
                    <td ng-bind="census.quit.female"></td>
                    <td ng-bind="census.quit.unknown"></td>
                    <td ng-bind="census.quit.male + census.quit.female + census.quit.unknown"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <loading class="col-xs-12 paddingLR0px" show="loadingMem" word="lang.ACTLEAD_MSG_LOADINGMEM"></loading>
    <div class="paddingLR0px paddingTB5px col-xs-12 splitter" ng-repeat="mem in visibles" ng-show="!loadingMem">
        <div class="col-xs-3 paddingLR0px" ng-click="link.goUserPreview(mem.user.id)">
            <img class="full-width" ng-src="{{mem.user.headUrl}}" />
        </div>
        <div class="col-xs-9 paddingLR0px paddingL10px">
            <div class="col-xs-12 paddingLR0px">
                <span class="text-bold" ng-bind="mem.user.personal.nickName || lang.GLOBAL_LABEL_ANONY"></span>
                <gender-hint gender="mem.user.personal.gender"></gender-hint>
                <i class="fa fa-envelope-o text-highlight" ng-click="link.goSendNote({recipientId: mem.user.id})"></i>
            </div>
            <div class="col-xs-12 paddingLR0px" ng-bind="mem.user.personal.contact"></div>
            <div class="col-xs-12 paddingLR0px" ng-bind="mem.user.personal.phone"></div>
            <div class="col-xs-12 paddingLR0px" ng-show="!util.actActive(activity)">
                <span ng-bind="lang.ACTLEAD_LABEL_QUIT" ng-show="mem.statusId == const.memberStatus.quit"></span>
                <span ng-bind="lang.ACTLEAD_LABEL_NOTCONFIRM" ng-show="mem.statusId == const.memberStatus.pending"></span>
                <span ng-bind="lang.ACTLEAD_LABEL_CONFIRMED" ng-show="mem.statusId == const.memberStatus.confirmed"></span>
                <span ng-bind="lang.ACTLEAD_LABEL_UNPAID" ng-show="mem.payStatusId == const.memberPayStatus.unpaid"></span>
                <span ng-bind="lang.ACTLEAD_LABEL_PAID" ng-show="mem.payStatusId == const.memberPayStatus.paid"></span>
            </div>
            <div class="col-xs-12 paddingLR0px" ng-show="util.actActive(activity)">
                <span ng-bind="lang.ACTLEAD_LABEL_QUIT" ng-show="mem.statusId == const.memberStatus.quit"></span>
                <span class="text-highlight text-underline" ng-bind="lang.ACTLEAD_LABEL_PENDING" ng-show="mem.statusId == const.memberStatus.pending" ng-click="doConfirm(mem)"></span>
                <span ng-bind="lang.ACTLEAD_LABEL_CONFIRMED" ng-show="mem.statusId == const.memberStatus.confirmed" ng-click="doPending(mem)"></span>
                <span class="text-highlight text-underline" ng-bind="lang.ACTLEAD_LABEL_UNPAID" ng-show="mem.payStatusId == const.memberPayStatus.unpaid" ng-click="doPaid(mem)"></span>
                <span ng-bind="lang.ACTLEAD_LABEL_PAID" ng-show="mem.payStatusId == const.memberPayStatus.paid" ng-click="doUnpaid(mem)"></span>
            </div>
        </div>
    </div>
    <pagination total-pages="totalPages" current-page="currentPage" visible-count="visibleCount" class="col-xs-12 text-right paddingLR0px"></pagination>
</div>