<div class="col-xs-12">
    <loading class="col-xs-12 paddingLR0px" show="loadingAct" word="lang.ACTLEAD_MSG_LOADINGACT"></loading>
    <div class="col-xs-12 paddingLR0px fontbold" ng-show="!loadingAct && activity.createdBy != user.id" ng-bind="lang.ACTLEAD_MSG_NOAUTH"></div>
    <h4 class="col-xs-12 paddingLR0px fontbold" ng-show="!loadingAct && activity && activity.createdBy == user.id">
        <span ng-bind="activity.name"></span>
        <span>, </span>
        <span ng-bind="activity.startsOn | date"></span>
        <i ng-show="!util.actCancel(activity)" class="fa fa-edit clickable" ng-click="link.goMatrix({actId: activity.id})"></i>
        <i ng-show="util.actActive(activity)" class="fa fa-times clickable remove" ng-click="cancelAct(activity)"></i>
        <span ng-bind="lang.ACTLEAD_LABEL_ACTCANCEL" ng-show="util.actCancel(activity)"></span>
        <span ng-bind="lang.ACTLEAD_LABEL_ACTENDS" ng-show="!util.actCancel(activity) && util.actEnds(activity)"></span>
        <span ng-bind="lang.ACTLEAD_LABEL_ACTSTARTS" ng-show="!util.actCancel(activity) && util.actStarts(activity)"></span>
    </h4>
    <div class="paddingLR0px col-xs-12" ng-show="activity && activity.memberCount > 0">
        <span style="float:left;" ng-click="link.goSendNote({actId: activity.id})">
            <i class="fa fa-envelope-o"></i>
            <span ng-bind="lang.SENDNOTE_LABEL_SENDNOTEALL"></span>
        </span>
        <span style="float:right;" class="fa" ng-class="{'fa-angle-down': !expandCensus, 'fa-angle-up': expandCensus}" ng-click="expandCensus = !expandCensus"></span>
    </div>
    <div class="paddingLR0px col-xs-12" ng-show="expandCensus">
        <loading class="col-xs-12 paddingLR0px" show="loadingCensus" word="lang.ACTLEAD_MSG_LOADINGCENSUS"></loading>
        <table class="table" ng-show="census && !loadingCensus">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <span ng-bind="lang.ACTLEAD_LABEL_CENSUS_MALE"></span>
                        <i class="fa fa-male"></i>
                    </th>
                    <th>
                        <span ng-bind="lang.ACTLEAD_LABEL_CENSUS_FEMALE"></span>
                        <i class="fa fa-female"></i>
                    </th>
                    <th>
                        <span ng-bind="lang.ACTLEAD_LABEL_CENSUS_UNKNOWN"></span>
                        <i class="fa fa-question"></i>
                    </th>
                    <th ng-bind="lang.ACTLEAD_LABEL_CENSUS_TOTAL"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td ng-bind="lang.ACTLEAD_LABEL_CENSUS_CONFIRMED"></td>
                    <td ng-bind="census.confirmed.male"></td>
                    <td ng-bind="census.confirmed.female"></td>
                    <td ng-bind="census.confirmed.unknown"></td>
                    <td ng-bind="census.confirmed.male + census.confirmed.female + census.confirmed.unknown"></td>
                </tr>
                <tr class="warning">
                    <td ng-bind="lang.ACTLEAD_LABEL_CENSUS_PENDING"></td>
                    <td ng-bind="census.pending.male"></td>
                    <td ng-bind="census.pending.female"></td>
                    <td ng-bind="census.pending.unknown"></td>
                    <td ng-bind="census.pending.male + census.pending.female + census.pending.unknown"></td>
                </tr>
                <tr class="danger">
                    <td ng-bind="lang.ACTLEAD_LABEL_CENSUS_QUIT"></td>
                    <td ng-bind="census.quit.male"></td>
                    <td ng-bind="census.quit.female"></td>
                    <td ng-bind="census.quit.unknown"></td>
                    <td ng-bind="census.quit.male + census.quit.female + census.quit.unknown"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <loading class="col-xs-12 paddingLR0px" show="loadingMem" word="lang.ACTLEAD_MSG_LOADINGMEM"></loading>
    <div class="paddingLR0px paddingTB5px col-xs-12 splitter" ng-repeat="mem in visibles" ng-show="!loadingMem">
        <div class="col-xs-3 paddingLR0px" ng-click="link.goUserPreview(mem.user.id)">
            <img style="width:100%;" ng-src="{{mem.user.headUrl}}" />
        </div>
        <div class="col-xs-9" style="padding:0px 0px 0px 10px">
            <div class="col-xs-12 paddingLR0px">
                <span class="fontbold" ng-bind="mem.user.personal.nickName"></span>
                <gender-hint gender="mem.user.personal.gender"></gender-hint>
                <i class="fa fa-envelope-o" ng-click="link.goSendNote({recipientId: mem.user.id})"></i>
            </div>
            <div class="col-xs-12 paddingLR0px" ng-bind="mem.user.personal.contact"></div>
            <div class="col-xs-12 paddingLR0px" ng-bind="mem.user.personal.phone"></div>
            <div class="col-xs-12 paddingLR0px" ng-show="!util.actActive(activity)">
                <span ng-bind="lang.ACTLEAD_LABEL_QUIT" ng-show="mem.statusId == const.memberStatus.quit"></span>
                <span ng-bind="lang.ACTLEAD_LABEL_NOTCONFIRM" ng-show="mem.statusId == const.memberStatus.pending"></span>
                <span ng-bind="lang.ACTLEAD_LABEL_CONFIRMED" ng-show="mem.statusId == const.memberStatus.confirmed"></span>
            </div>
            <div class="col-xs-12 paddingLR0px" ng-show="util.actActive(activity)">
                <span ng-bind="lang.ACTLEAD_LABEL_QUIT" ng-show="mem.statusId == const.memberStatus.quit"></span>
                <span ng-bind="lang.ACTLEAD_LABEL_PENDING" ng-show="mem.statusId == const.memberStatus.pending" style="border-bottom: 1px solid black;" ng-click="doConfirm(mem)"></span>
                <span ng-bind="lang.ACTLEAD_LABEL_CONFIRMED" ng-show="mem.statusId == const.memberStatus.confirmed" ng-click="doPending(mem)"></span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 text-right paddingLR0px" ng-show="getPageNavs().max > 0">
        <ul class="pagination">
            <li ng-class="{disabled: currentPage == 0}" ng-click="currentPage <= 0 || switchPage(0)"><span class="fa fa-angle-double-left"></span></li>
            <li ng-class="{disabled: currentPage == 0}" ng-click="currentPage <= 0 || switchPage(currentPage - 1)"><span class="fa fa-angle-left"></span></li>
            <li ng-repeat="pg in getPageNavs().nav" ng-class="{active: currentPage == pg}" ng-click="pg == currentPage || switchPage(pg)"><span ng-bind="pg + 1"></span></li>
            <li ng-class="{disabled: currentPage == getPageNavs().max}" ng-click="currentPage >= getPageNavs().max || switchPage(currentPage + 1)"><span class="fa fa-angle-right"></span></li>
            <li ng-class="{disabled: currentPage == getPageNavs().max}" ng-click="currentPage >= getPageNavs().max || switchPage(getPageNavs().max)"><span class="fa fa-angle-double-right"></span></li>
        </ul>
    </div>
</div>