<div class="col-xs-12">
    <h4 class="col-xs-12 paddingLR0px fontbold" ng-bind="lang.FANS_HEADER"></h4>
    <div class="col-xs-12 paddingLR0px" ng-bind="lang.FANS_LABEL_NOFANS" ng-show="getPageNavs().total == 0"></div>
    <div class="paddingLR0px paddingTB5px col-xs-12 splitter" ng-repeat="fan in visibles">
        <div class="col-xs-3 paddingLR0px" ng-click="link.goUserPreview(fan.id)">
            <img style="width:100%;" ng-src="{{fan.headUrl}}" />
        </div>
        <div class="col-xs-9" style="padding:0px 0px 0px 10px">
            <div class="col-xs-12 paddingLR0px">
                <span class="fontbold" ng-bind="fan.personal.nickName"></span>
                <gender-hint gender="fan.personal.gender"></gender-hint>
            </div>
            <div class="col-xs-12 paddingLR0px" ng-bind="fan.personal.contact"></div>
            <div class="col-xs-12 paddingLR0px">
                <i class="fa fa-heart" ng-class="{red: fan.fansCount > 0}"></i>
                <span ng-bind="fan.fansCount"></span>
            </div>
            <div class="col-xs-12 paddingLR0px">
                <i class="fa fa-envelope-o" ng-click="link.goSendNote({recipientId: fan.id})"></i>
            </div>
        </div>
    </div>
    <div class="col-xs-12 text-right paddingLR0px" ng-show="getPageNavs().max > 0">
        <ul class="pagination">
            <li ng-class="{disabled: currentPage == 0}" ng-click="currentPage <= 0 || switchPage(0)"><span class="fa fa-angle-double-left"></span></li>
            <li ng-class="{disabled: currentPage == 0}" ng-click="currentPage <= 0 || switchPage(currentPage - 1)"><span class="fa fa-angle-left"></span></li>
            <li ng-repeat="pg in getPageNavs().nav" ng-class="{active: currentPage == pg}" ng-click="pg == currentPage || switchPage(pg)"><span ng-bind="pg + 1"></span></li>
            <li ng-class="{disabled: currentPage == getPageNavs().max}" ng-click="currentPage >= getPageNavs().max || switchPage(currentPage + 1)"><span class="fa fa-angle-right"></span></li>
            <li ng-class="{disabled: currentPage == getPageNavs().max}" ng-click="currentPage >= getPageNavs().max || switchPage(getPageNavs().max)"><span class="fa fa-angle-double-right"></span></li>
        </ul>
    </div>
</div>