<div class="col-xs-12">
    <h4 class="col-xs-12 paddingLR0px fontbold" ng-bind="lang.FOOTPRINT_HEADER"></h4>
    <loading class="col-xs-12 paddingLR0px" show="loading" word="lang.GLOBAL_MSG_LOADING"></loading>
    <div class="col-xs-12 paddingLR0px fontbold" ng-show="!loading && getPageNavs().total == 0" ng-bind="lang.FOOTPRINT_LABEL_NORECORDS"></div>
    <div class="col-xs-12 paddingLR0px paddingTB10px splitter" ng-repeat="fp in visibles">
        <div class="col-xs-3 paddingLR0px" ng-click="link.goActDetail(fp.activity.id)">
            <img ng-src="{{fp.activity.picUrl}}" style="width:100%;" />
        </div>
        <div class="col-xs-9 paddingLR0px small textoverflowhidden" style="padding-left: 10px;">
            <div class="col-xs-12 paddingLR0px" ng-bind="fp.activity.name"></div>
            <div class="col-xs-12 paddingLR0px">
                <i class="fa fa-clock-o"></i>
                <span ng-bind="fp.activity.startsOn | activityDatetime : fp.activity.endsOn : true"></span>
            </div>
            <div class="col-xs-12 paddingLR0px">
                <i class="fa fa-home"></i>
                <span ng-bind="fp.activity.tags[0] | tag"></span>
            </div>
            <div class="col-xs-12 paddingLR0px" ng-show="!util.actActive(fp.activity)" ng-bind="lang.FOOTPRINT_LABEL_ACT + util.actNonActiveStatus(fp.activity)"></div>
            <div class="col-xs-12 paddingLR0px" ng-show="util.actActive(fp.activity)">
                <span ng-bind="lang.FOOTPRINT_LABEL_PENDING" ng-show="fp.statusId == const.memberStatus.pending"></span>
                <span ng-bind="lang.FOOTPRINT_LABEL_CONFIRMED" ng-show="fp.statusId == const.memberStatus.confirmed"></span>
                <span ng-bind="lang.FOOTPRINT_LABEL_QUIT" ng-show="fp.statusId == const.memberStatus.quit"></span>
                <span ng-bind="lang.FOOTPRINT_LABEL_DOQUIT" ng-show="fp.statusId == const.memberStatus.pending || fp.statusId == const.memberStatus.confirmed" style="border-bottom: 1px solid black;" ng-click="doQuit(fp)"></span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 text-right paddingLR0px" ng-show="getPageNavs().max > 0">
        <ul class="pagination">
            <li ng-class="{disabled: currentPage == 0}" ng-click="currentPage <= 0 || switchPage(0)"><span class="fa fa-angle-double-left"></span></li>
            <li ng-class="{disabled: currentPage == 0}" ng-click="currentPage <= 0 || switchPage(currentPage - 1)"><span class="fa fa-angle-left"></span></li>
            <li ng-repeat="pg in getPageNavs().nav" ng-class="{active: currentPage == pg}" ng-click="pg == currentPage || switchPage(pg)"><span ng-bind="pg + 1"></span></li>
            <li ng-class="{disabled: currentPage == getPageNavs().max}" ng-click="currentPage >= getPageNavs().max || switchPage(currentPage + 1)"><span class="fa fa-angle-right"></span></li>
            <li ng-class="{disabled: currentPage == getPageNavs().max}" ng-click="currentPage >= getPageNavs().max || switchPage(getPageNavs().max)"><span class="fa fa-angle-double-right"></span></li>
        </ul>
    </div>
</div>