<div class="col-xs-12">
    <h4 class="col-xs-12 paddingLR0px text-bold" ng-bind="lang.NOTEINBOX_HEADER"></h4>
    <loading class="col-xs-12 paddingLR0px" show="loading" word="lang.GLOBAL_MSG_LOADING"></loading>
    <div class="col-xs-12 paddingLR0px" ng-bind="lang.NOTEINBOX_MSG_EMPTY" ng-show="!loading && totalPages == 0"></div>
    <div class="paddingLR0px paddingTB5px col-xs-12 splitter" ng-repeat="note in visibles">
        <div class="col-xs-2 paddingLR0px">
            <img class="full-width" ng-src="{{note.author.headUrl}}" ng-click="link.goUserPreview(note.author.id)" />
        </div>
        <div class="col-xs-10 paddingLR0px paddingL10px">
            <div class="col-xs-12 paddingLR0px text-bold" note-syntax target="note.subject"></div>
            <div class="col-xs-12 paddingLR0px text-sm">
                <span ng-bind="lang.NOTEINBOX_LABEL_RECIPIENT"></span>
                <span ng-bind="note.author.personal.nickName || lang.GLOBAL_LABEL_ANONY"></span>
            </div>
            <div class="col-xs-12 paddingLR0px text-sm">
                <span ng-bind="note.createdOn | sensitiveDatetime"></span>
                <i class="fa text-highlight" ng-class="{'fa-plus': !note.expanded, 'fa-minus': note.expanded}" ng-click="note.expanded = !note.expanded"></i>
            </div>
            <div class="col-xs-12 paddingLR0px text-sm text-overflow-hidden" note-syntax target="note.body"></div>
        </div>
        <div class="col-xs-12 paddingLR0px marginT5px" ng-show="note.expanded">
            <pre note-syntax target="note.body"></pre>
        </div>
        <i class="fa fa-reply text-highlight" style="position:absolute;right:5px;top:5px;" ng-click="link.goSendNote({recipientId: note.author.id, re: note.subject.content})"></i>
    </div>
    <pagination total-pages="totalPages" current-page="currentPage" visible-count="visibleCount" class="col-xs-12 text-right paddingLR0px"></pagination>
</div>
<div ui-view></div>