<div class="col-xs-12">
    <h4 class="col-xs-12 paddingLR0px fontbold" ng-bind="lang.NOTESYSBOX_HEADER"></h4>
    <div class="paddingLR0px paddingTB5px col-xs-12 splitter" ng-repeat="note in visibles">
        <div ng-click="expand = !expand">
            <div class="note-syntax" note-syntax target="note.subject"></div>
            <div>
                <i class="fa fa-exclamation red" ng-show="note.emphasis"></i>
                <span class="small" ng-bind="note.createdOn | sensitiveDatetime"></span>
            </div>
        </div>
        <pre ng-show="expand" class="note-syntax" note-syntax target="note.body"></pre>
    </div>
    <div class="col-xs-12 text-right paddingLR0px" ng-show="getPageNavs().max > 0">
        <ul class="pagination">
            <li ng-class="{disabled: currentPage == 0}" ng-click="currentPage <= 0 || switchPage(0)"><span class="fa fa-angle-double-left"></span></li>
            <li ng-class="{disabled: currentPage == 0}" ng-click="currentPage <= 0 || switchPage(currentPage - 1)"><span class="fa fa-angle-left"></span></li>
            <li ng-repeat="pg in getPageNavs().nav" ng-class="{active: currentPage == pg}" ng-click="pg == currentPage || switchPage(pg)"><span ng-bind="pg + 1"></span></li>
            <li ng-class="{disabled: currentPage == getPageNavs().max}" ng-click="currentPage >= getPageNavs().max || switchPage(currentPage + 1)"><span class="fa fa-angle-right"></span></li>
            <li ng-class="{disabled: currentPage == getPageNavs().max}" ng-click="currentPage >= getPageNavs().max || switchPage(getPageNavs().max)"><span class="fa fa-angle-double-right"></span></li>
        </ul>
    </div>
</div>
<div ui-view></div>