<div class="col-xs-12">
    <h4 class="col-xs-12 paddingLR0px text-bold" ng-bind="lang.SENDNOTE_HEADER"></h4>
    <div class="empty-xxs"></div>
    <div class="col-xs-12 paddingLR0px text-bold" ng-bind="lang.SENDNOTE_MSG_NORECV" ng-show="noReceiver"></div>
    <loading class="col-xs-12 paddingLR0px" show="loading" word="lang.SENDNOTE_MSG_LOADING"></loading>
    <div class="col-xs-12 paddingLR0px text-bold" ng-bind="lang.SENDNOTE_LABEL_RECV" ng-show="!loading && recipient"></div>
    <div class="col-xs-12 paddingLR0px text-bold" ng-bind="lang.SENDNOTE_LABEL_ACTRECV" ng-show="!loading && !recipient && activity && activity.createdBy == user.id"></div>
    <div class="col-xs-12 paddingLR0px text-bold" ng-bind="lang.SENDNOTE_MSG_NOAUTH" ng-show="!loading && !recipient && activity && activity.createdBy != user.id"></div>
    <div class="col-xs-12 paddingLR0px text-bold" ng-bind="lang.SENDNOTE_MSG_404" ng-show="!loading && !recipient && !activity && !noReceiver"></div>
    <div class="col-xs-12 paddingLR0px" ng-show="!loading && recipient">
        <div class="col-xs-2 paddingLR0px">
            <img class="full-width" ng-src="{{recipient.headUrl}}" />
        </div>
        <div class="col-xs-10 paddingLR0px paddingL10px">
            <div class="col-xs-12 paddingLR0px">
                <span class="text-bold" ng-bind="recipient.personal.nickName || lang.GLOBAL_LABEL_ANONY"></span>
                <gender-hint gender="recipient.personal.gender" class="marginL5px"></gender-hint>
            </div>
            <div class="col-xs-12 paddingLR0px" ng-bind="recipient.personal.contact"></div>
            <div class="col-xs-12 paddingLR0px">
                <i class="fa" ng-class="{'fa-heart text-danger': recipient.fansCount > 0, 'fa-heart-o': recipient.fansCount == 0}"></i>
                <span ng-bind="recipient.fansCount"></span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 paddingLR0px" ng-show="!loading && !recipient && activity && activity.createdBy == user.id">
        <div class="col-xs-2 paddingLR0px">
            <img class="full-width" ng-src="{{activity.picUrl}}" />
        </div>
        <div class="col-xs-10 paddingLR0px paddingL10px">
            <div class="col-xs-12 paddingLR0px" ng-bind="activity.name"></div>
            <div class="col-xs-12 paddingLR0px">
                <i class="fa" ng-class="{'fa-user text-highlight': activity.memberCount <= activity.capacity * 0.8, 'fa-users text-danger': activity.memberCount > activity.capacity * 0.8}"></i>
                <span ng-bind="activity.memberCount"></span>
                <span> / </span>
                <span ng-bind="activity.capacity"></span>
            </div>
        </div>
    </div>
    <div class="empty-xs"></div>
    <div class="col-xs-12 paddingLR0px" ng-show="!noReceiver && !loading && (recipient || (activity && activity.createdBy == user.id))">
        <div class="col-xs-12 paddingLR0px text-bold">
            <span ng-bind="lang.SENDNOTE_LABEL_SUBJECT"></span>
            <i class="fa fa-exclamation" ng-class="{red: sendNoteModel.emphasisProp.val}" ng-click="sendNoteModel.emphasisProp.val = !sendNoteModel.emphasisProp.val"></i>
        </div>
        <div class="col-xs-12 paddingLR0px" ng-class="{'has-error': !sendNoteModel.subjectProp.validate(true)}">
            <input type="text" class="form-control" ng-model="sendNoteModel.subjectProp.val" />
        </div>
        <div class="empty-xs"></div>
        <span class="col-xs-12 paddingLR0px text-bold" ng-bind="lang.SENDNOTE_LABEL_CONTENT"></span>
        <div class="col-xs-12 paddingLR0px" ng-class="{'has-error': !sendNoteModel.bodyProp.validate(true)}">
            <textarea type="text" class="form-control full-width" style="min-height: 150px;" ng-model="sendNoteModel.bodyProp.val"></textarea>
        </div>
        <div class="empty-xs"></div>
        <div class="col-xs-12 paddingLR0px text-right">
            <button class="btn btn-success" ng-disabled="sending || !sendNoteModel.validate()" ng-click="sendNote()">
                <i class="fa fa-spinner fa-spin" ng-show="sending"></i>
                <span ng-bind="lang.SENDNOTE_BTN_SENDING" ng-show="sending"></span>
                <span ng-bind="lang.SENDNOTE_BTN_SEND" ng-show="!sending"></span>
            </button>
            <button class="btn btn-warning marginL15px" ng-disabled="sending" ng-click="resetNote()">
                <span ng-bind="lang.SENDNOTE_BTN_RESET"></span>
            </button>
        </div>
    </div>
</div>