<div class="col-xs-12">
    <h4 class="col-xs-12 paddingLR0px fontbold" ng-bind="lang.SUBCRIBESITES_HEADER"></h4>
    <loading class="col-xs-12 paddingLR0px" show="loading" word="lang.GLOBAL_MSG_LOADING"></loading>
    <div class="col-xs-12 paddingLR0px" ng-bind="lang.SUBCRIBESITES_LABEL_NOSITES" ng-show="!loading && getPageNavs().total == 0"></div>
    <div class="col-xs-12 paddingLR0px small" ng-bind="lang.SUBCRIBESITES_MSG_WHYFAN" ng-show="!loading && getPageNavs().total == 0"></div>
    <div class="paddingLR0px paddingTB5px col-xs-12 splitter" ng-repeat="site in visibles" ng-click="link.goSiteDetail(site.id)">
        <div class="col-xs-12 paddingLR0px fontbold fontbig text-center textoverflowhidden" ng-bind="site.name"></div>
        <div class="col-xs-3 paddingLR0px">
            <img ng-src="{{site.picUrl}}" style="width:100%;" />
        </div>
        <div class="col-xs-9 paddingLR0px small textoverflowhidden" style="padding-left: 10px;">
            <div class="col-xs-12 paddingLR0px">
                <i class="fa fa-clock-o"></i>
                <span ng-bind="site.open.startsOn | siteopen | datetime : const.timeAFormat"></span>
                <span> ~ </span>
                <span ng-bind="site.open.endsOn | siteopen | datetime : const.timeAFormat"></span>
            </div>
            <div class="col-xs-12 paddingLR0px">
                <i class="fa fa-map-marker"></i>
                <span ng-bind="site.location.address"></span>
            </div>
            <div class="col-xs-12 paddingLR0px">
                <i class="fa fa-rmb"></i>
                <span ng-bind="site.prices[0] | price"></span>
            </div>
            <div class="col-xs-12 paddingLR0px">
                <div class="col-xs-4 paddingLR0px">
                    <i class="fa fa-home"></i>
                    <span ng-bind="site.tags[0] | tag"></span>
                </div>
                <div class="col-xs-4 paddingLR0px">
                    <i class="fa fa-heart" ng-class="{red: site.fansCount > 0}"></i>
                    <span ng-bind="site.fansCount"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 text-right paddingLR0px" ng-show="getPageNavs().max > 0">
        <ul class="pagination">
            <li ng-class="{disabled: currentPage == 0}" ng-click="currentPage <= 0 || switchPage(0)"><span class="fa fa-angle-double-left"></span></li>
            <li ng-class="{disabled: currentPage == 0}" ng-click="currentPage <= 0 || switchPage(currentPage - 1)"><span class="fa fa-angle-left"></span></li>
            <li ng-repeat="pg in getPageNavs().nav" ng-class="{active: currentPage == pg}" ng-click="pg == currentPage || switchPage(pg)"><span ng-bind="pg + 1"></span></li>
            <li ng-class="{disabled: currentPage == getPageNavs().max}" ng-click="currentPage >= getPageNavs().max || switchPage(currentPage + 1)"><span class="fa fa-angle-right"></span></li>
            <li ng-class="{disabled: currentPage == getPageNavs().max}" ng-click="currentPage >= getPageNavs().max || switchPage(getPageNavs().max)"><span class="fa fa-angle-double-right"></span></li>
        </ul>
    </div>
</div>