$color_btnBase: #B3D66E;
button {
	background-color: $color_btnBase;
	border: none;
	padding: 5px 10px;
	cursor: point;
	height: 30px;

	&:active {
		background-color: darken($color_btnBase, 20%);
	}
}