$size_memberViewHeight: 80px;
$size_rowPadding: 5px;

.leadership {
	.title{
		text-align: center;
		font-weight: bold;
	}

	.row {
		padding-top:$size_rowPadding;
		padding-bottom:$size_rowPadding;
		margin-left:$size_rowPadding;
		margin-right:$size_rowPadding;
		&+.row{
			border-top: solid 1px lightgrey;
		}

		.member {
			height: $size_memberViewHeight;
			width: 100%;

			img.headPic{
				max-width: $size_memberViewHeight;
				float:left;
			}

			.detail {
				padding: 10px;
				float: left;
			}
		}
	}
}