.preview {
    display: block;
    height: 100px;
    
    .desc {
        float: left;
        width: 60%;
        max-height: 100%;

        .title {
            width: 100%;
            text-align: center;
        }

        .content {
            width: 100%;
        }
    }

    .img {
        float: left;
        width: 40%;
        max-width: 40%;
        height: 100%;
        max-height: 100%;
    }

    .cleaner {
        clear: both;
    }
}