@import '../config/color';
@import '../infra/infra';

#navbottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: $color_bg_veil;
    text-align: center;
    padding: 7px 20px;

    .navitem {
        box-sizing: border-box;
        width: 33.33%;
        float: left;
        display: inline-block;

        &.selected {
            color: $color_msg_success;
        }
    }
}

#navtop {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    background-color: $color_bg_veil;

    #msg-content {
        position: fixed;
        top: -30px;
        left: 0px;
        right: 0px;
        height: 30px;
        padding: 5px 15px;
        background-color: $color_msg_bg;
        transition-duration: 0.5s;
        transition-property: top;

        &.msg-show {
            top: 0px;
        }

        #status-hint {
            position: absolute;
            left: 20px;
            top: 50%;
            margin-top: -7px;
            font-size: 14px;
            line-height: 1;

            &.msg-success {
                color: $color_msg_success;
            }

            &.msg-info {
                color: $color_msg_highlight;
            }

            &.msg-warn {
                color: $color_msg_warn;
            }

            &.msg-error {
                color: $color_msg_error;
            }
        }

        #msg-clear {
            position: absolute;
            right: 20px;
            top: 50%;
            margin-top: -7px;
            font-size: 14px;
            line-height: 1;
        }

        #msg {
            @extend %text-overflow-hidden;
            display: block;
            margin: 0px 25px;

            &.wide-action-panel {
                margin-right: 35px;
            }
        }
    }
}
